venv
.venv

../.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml
.vscode

*.iws
*.env
.env

.DS_Store

__pycache__
*.pao
*.pyc

*.pem
server_info.txt
deploy.ini
